<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Color Changer Description</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../bootstrap-5.3.0-dist/css/bootstrap.css" />
    <style>
      /* Adding soft black shadow around the image */
      .shadowed-img {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      }

      /* Styling footer */
      footer {
        bottom: 0;
        width: 100%;
        background-color: #f8f9fa;
        padding: 10px 0;
        text-align: center;
        font-size: 14px;
      }

      /* メニューバー */
      .sidebar {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        width: 200px;
        background-color: #f8f9fa;
        padding-top: 20px;
      }
      .container {
        margin-left: auto;
        margin-right: auto;
      }

      .nav-link {
        font-size: 1.5em;
      }
    </style>
  </head>
  <body>
    <div class="row m-0">
      <div class="col-2">
        <!-- サイドメニュー -->
        <div class="sidebar">
          <h5 class="text-center">Menu</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="./info.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./import_export.html">Import/Export</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- メインページ -->
      <div class="col-10 p-0">
        <div class="container">
          <h1 class="mt-4 mb-4">Description of Color Changer</h1>

          <p class="lead">Color Changerの説明</p>

          <!-- Insert Image -->
          <div class="text-center mb-4">
            <a
              href="https://chromewebstore.google.com/detail/color-changer-websites-co/cbbnibbcjfjfomnmbdkoobcdelfcklka"
              target="_blank"
            >
              <img
                src="../images/info_page1.png"
                alt="Extension Settings"
                class="img-fluid shadowed-img"
            /></a>
          </div>
          <!-- About -->
          <div class="card mb-3">
            <div class="card-header">
              <strong>About</strong>
            </div>
            <div class="card-body">
              <p>
                This “Color changer” is a tool to change the background color,
                header color, etc. of a website.<br />
                You can change any part you like.<br />
                However, it requires a little knowledge of CSS selectors!<br />
                It is not difficult. Learn a little and enjoy using this tool.
                <br />
                Thank you!
              </p>
              <p>
                この「Color
                changer」は、webサイトの背景色やヘッダーの色などを変えるためのツールです。<br />
                どんな箇所でも好きな色に変更することができます。<br />
                少しばかりCSSセレクタの知識が必要ですが、難しくありません。<br />
                ぜひツールを使って楽しく遊んで頂ければと思います！
              </p>
            </div>
          </div>
          <!-- URL Section -->
          <div class="card mb-3">
            <div class="card-header">
              <strong>URL</strong>
            </div>
            <div class="card-body">
              <p>
                <strong>In the URL</strong>field, specify the URL of the web
                page for which you want to change the color. You can also use
                regular expressions.
              </p>
              <p>
                <strong>URL</strong>
                には、色を変更したいウェブページのURLを指定します。正規表現が使えます。
              </p>
              <div class="alert alert-info" role="alert">
                <p>Example1 (例): 　<code>https://www.google.com/*</code></p>
                <p>
                  Example2 (例):
                  　<code>https://en.wikipedia.org/wiki/*</code>　←'*' for all
                  wiki pages
                </p>
              </div>
            </div>
          </div>

          <!-- CSS Selector Section -->
          <div class="card mb-3">
            <div class="card-header">
              <strong>CSS Selector</strong>
            </div>
            <div class="card-body">
              <p>
                The <strong>CSS Selector</strong> field specifies a CSS
                selector. This allows you to change the background of the page
                as well as the color of certain parts of the page.
                <a
                  href="https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Basic_selectors"
                  target="_blank"
                  >What is CSS Selector??</a
                >
              </p>
              <p>
                <strong>CSSセレクタ</strong>
                には、CSSセレクタを指定します。これによりページの背景の他、特定の部分だけ色を変えることができます。
                <a
                  href="https://developer.mozilla.org/ja/docs/Learn_web_development/Core/Styling_basics/Basic_selectors"
                  target="_blank"
                  >CSSセレクタについて</a
                >
              </p>
              <div class="alert alert-info" role="alert">
                <p>
                  Example1 (例): 　<code>body</code>　← changes background color
                </p>
                <p>
                  Example2 (例): 　<code>.mw-header</code>　← changes header of
                  wiki pages
                </p>
              </div>
              <p>
                If you don't know how to use it, just type in the example of the
                image at the top of this page and search for something on
                Google! You will see the background color change.
              </p>
              <p>
                使い方に迷った際は、一度このページの最初の画像の例を打ち込んで、Googleで何かを検索して頂くと、背景の色が変わることを確認して頂けます。
              </p>
            </div>
          </div>

          <!-- Color Section -->
          <div class="card mb-3">
            <div class="card-header">
              <strong>Color</strong>
            </div>
            <div class="card-body">
              <p>
                In the <strong>Color</strong> field, you can specify a color.
                Click to select a color.
              </p>
              <p>
                <strong>Color</strong>
                フィールドでは色を指定できます。クリックによりカラーを選択できます。
              </p>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-header">
              <strong>Service and ID</strong>
            </div>
            <div class="card-body">
              <p>
                The <strong>Service and ID</strong> field are configured for AWS
                and Azure users; AWS users can specify an account ID and Azure
                users can specify a subscription ID.
              </p>
              <p>
                <strong>ServiceおよびID</strong>
                フィールドは、AWSおよびAzure使用者のために設定されています。AWSであればアカウントID、AzureであればサブスクリプションIDを指定できます。
              </p>
            </div>
          </div>

          <!-- Actions Section -->
          <div class="card mb-3">
            <div class="card-header">
              <strong>Actions</strong>
            </div>
            <div class="card-body">
              <p>
                You can add a new rule by clicking the plus icon
                (<strong>+</strong>). You can delete an existing rule with the
                trash can icon (<strong>🗑</strong>).
              </p>
              <p>
                Please don't forget to hit the save button after you added or
                deleted your settings!
              </p>
              <p>
                プラスアイコン (<strong>+</strong>)
                をクリックして新しいルールを追加できます。ゴミ箱アイコン
                (<strong>🗑</strong>) で既存のルールを削除できます。
              </p>
              <p>ルールを追加・削除した後は保存ボタンを押して適用します。</p>
            </div>
          </div>

          <!-- Import and Export -->
          <div class="card mb-3">
            <div class="card-header">
              <strong>Import and Export</strong>
            </div>
            <div class="card-body">
              <p>
                You can import and export in Json format. See the
                <a href="../view/import_export.html">Import/Export</a> section
                for details.
              </p>
              <p>
                Json形式でインポートやエクスポートができます。詳しくは<a
                  href="../view/import_export.html"
                  >Import Export</a
                >ページを参照ください。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer with Copyright -->
    <footer class="mt-5">&copy; Chrome Extension by fudy-apo</footer>

    <!-- Bootstrap JS -->
    <script src="../bootstrap-5.3.0-dist/js/bootstrap.bundle.js"></script>
  </body>
</html>
