<!DOCTYPE html>
<html>
  <head>
    <title>AWS Color Change Extension Options</title>
    <meta charset="utf-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <style type="text/css">
      .container {
        max-width: 1200px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="h3 mt-3">Settings</h1>
        <!-- 行1 -->
        <div class="row">
            <div class="col-5">
                <div class="mb-3">
                    <label class="form-label">URL</label>
                    <input
                    class="form-control"
                    id="url-row-1"
                    placeholder="https://*.console.aws.amazon.com/*"
                    />
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">CSS Selector</label>
                    <input
                    class="form-control"
                    id="css-selector-row-1"
                    placeholder=".globalNav-122"
                    />
                </div>
            </div>
            <div class="col">
              <div class="mb-3">
                  <label class="form-label">Color</label>
                  <select id="color-row-1" class="form-select form-select">
                      <option value="red">red</option>
                      <option value="green">green</option>
                      <option value="blue">blue</option>
                      <option value="yellow">yellow</option>
                  </select>
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                  <label class="form-label">AWS account ID (or blank)</label>
                  <input
                    class="form-control"
                    id="aws-id-row-1"
                    placeholder="012345678901"
                    />
              </div>
            </div>
        </div>

          <!-- 行2 -->
        <div class="row">
          <div class="col-5">
              <div class="mb-3">
                  <input
                  class="form-control"
                  id="url-row-2"
                  placeholder="https://*.console.aws.amazon.com/*"
                  />
              </div>
          </div>
          <div class="col">
              <div class="mb-3">
                  <input
                  class="form-control"
                  id="css-selector-row-2"
                  placeholder=".globalNav-122"
                  />
              </div>
          </div>
          <div class="col">
            <div class="mb-3">
                <select id="color-row-2" class="form-select form-select">
                    <option value="red">red</option>
                    <option value="green">green</option>
                    <option value="blue">blue</option>
                    <option value="yellow">yellow</option>
                </select>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
                <input
                  class="form-control"
                  id="aws-id-row-2"
                  placeholder="012345678901"
                  />
            </div>
          </div>


        </div>
        
        <button type="button" id="save" class="form-control btn btn-outline-primary mt-3">
          Save
        </button>
      </div>
      <div class="mb-3"></div>
    </div>
    
    <script src="../scripts/save_options.js"></script>
    <script src="../scripts/content-script.js"></script>
  </body>
</html>
